<div ng-controller="InfoBoxCtrl" class="info-window" ng-init="init()">
    <h4>{{event.title}}</h4>
    <p class="description" ng-show="event.description != 'There is no description for this event.'">{{event.description}}</p>
    <div class="float-right">
        <p>
            <img ng-show="event.image.url" src="{{event.image.url}}" width="70" height="70" />
        </p>
        <p>
            <span>Likes: {{ratingData.like}}</span>
            <span>Dislikes: {{ratingData.dislike}}</span>
        </p>
    </div>

    <label>Address</label>
    <p>{{event["venue_name"]}}</p>

    <p><span ng-show="event.venue_address">{{event["venue_address"]}}, </span>{{event["city_name"] + ", " + event["region_name"] + ", " + event["country_name"]}}</p>

    <a href='{{event.url}}' target="_blank">View Details</a> |
    <span ng-show="userProfile">
        <a ng-show="userProfile && !going" href="" ng-click="goingToEvent()">Going</a>
        <a ng-show="userProfile && going" href="" ng-click="notGoingToEvent()">Not Going</a>
        |
    </span>
    <a href="" ng-click="getDirections(event['venue_address'])">Get Directions</a> |<a target="_blank" href="" ng-click="shareEventFB()" style="width:8px; height: 8px;"><img src="../img/facebook.png"></a>
    <a target="_blank" href="" ng-click="shareEventGP()" style="width:8px; height: 8px;"><img src="../img/google.png" /></a>
    <a target="_blank" href="" ng-click="shareEventLN()" style="width:8px; height: 8px;"><img src="../img/linkedIn.png"></a>

</div>
