<div id="SidePanel" ng-init="init()" ng-controller="SidePanelCtrl" ng-class="{'showSidePanel' : showSidePanel, 'hideSidePanel' : !showSidePanel}">
    <button ng-click="toggleSidePanel()" ng-show="!showSidePanel" class="glyphicon glyphicon-align-justify showSidePanelBtn"></button>
    <pageslide ps-open="showSidePanel"
               ps-push="true"
               ps-side="left"
               ps-speed="0.3">
        <div class="sidepanel-content">
            <button ng-click="toggleSidePanel()"
                    ng-show="showSidePanel"
                    class="btn hideSidePanelBtn">
                X
            </button>
            <h2>
                Filter & Search
            </h2>
            <br />
            <div ng-show="userProfile != null">
                <label>Going With</label>
                <select class='form-control' ng-model='search.goingWith' ng-change="resetFields()">
                    <option value=''>No Preferences</option>
                    <option value='0'>Single</option>
                    <option value='1'>Family</option>
                    <option value='2'>Friends</option>
                    <option value='3'>Date</option>
                </select>
                <hr />
            </div>
            <div ng-show="search.goingWith == null || search.goingWith == ''">
                <label>Event Category</label>
                <span class="error">{{search.errors.type}}</span>
                <br />

                <div class="input-group ">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-glass"></span></div>
                    <select class="form-control" ng-model="search.type" ng-change="validate()">
                        <option ng-repeat="type in types track by $index">{{type}}</option>
                    </select>
                </div>
                <br />
                <label>Keywords</label>
                <div class="input-group ">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                    <textarea class="form-control" ng-model="search.keywords" />
                </div>
                <br />
            </div>
            <label>From Date</label>
            <span class="error">{{search.errors.fromDate}}</span>
            <br />
            <div class="input-group ">
                <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                <input type="date" class="form-control" ng-model="search.fromDate" placeholder="From Date" aria-describedby="basic-addon1"
                       ng-change="validate()"
                       min="{{currDate | date:'yyyy-MM-dd'}}" />
            </div><br />
            <label>To Date</label>
            <span class="error">{{search.errors.toDate}}</span>
            <br />
            <div class="input-group ">
                <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                <input type="date" class="form-control" ng-model="search.toDate" placeholder="To Date" aria-describedby="basic-addon1"
                       ng-change="validate()" />
            </div><br />
            <label>Find Events within :</label> {{search.within}} miles.
            <input min="5" max="30" step="5" type="range" class="slider" ng-model="search.within" />
        </div>
        <div style="position:absolute; width: 50%; bottom: 30px; left: 0; right: 0; margin: auto;">
            <table>
                <tr>
                    <td>
                        <a class="box" target="_blank" href="javascript:window.open('https://www.facebook.com/sharer/sharer.php?app_id=309437425817038&sdk=joey&u=http://wham-npcompete.rhcloud.com&display=popup&ref=plugin','facebookShare','width=500,height=300')">
                            <img src="../img/facebook.png">
                        </a>
                    </td>
                    <td>
                        <a class="box" href="javascript:window.open('https://plus.google.com/share?url=http://wham-npcompete.rhcloud.com','Google+Share','width=500,height=300')">
                            <img src="../img/google.png" alt="Google+" title="Google+" />
                        </a>
                    </td>
                    <td>
                        <a class="box" href="javascript:window.open('https://www.linkedin.com/cws/share?url=http://wham-npcompete.rhcloud.com','linkedInshare','width=500,height=300')">
                            <img src="../img/linkedIn.png">
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </pageslide>
</div>